DB_NAME=explora_plus
DB_USER=explora_user
DB_PASSWORD=explora_pass
DB_HOST=db
DB_PORT=5432
DJANGO_SECRET_KEY=change-me-in-production-use-a-long-random-string
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend
